body {
    background: #d5e0c4;
    font-family: Arial, sans-serif;
}

.card {
    width: 600px;
    background: #f8c7db;
    border-radius: 20px;
    padding: 20px;
    margin: 30px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-right:50px
}

.logo {
    width: 60px;
    border-radius: 50%;
}

.title h2 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.content {
    display: flex;
    margin-top: 15px;
}

.left {
    width: 60%;
}

.left p {
    margin: 5px 0;
    font-size: 16px;
    font-weight: bold;
}

.qr {
    width: 120px;
    margin-top: 10px;
    padding-right: 75%;
}

.right {
    width: 40%;
    text-align: right;
}

.foto {
    width: 160px;
    border-radius: 50px;
}

.footer {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background: #e88bb2;
    border-radius: 10px;
}

.footer p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.footer h3 {
    margin: 3px 0 0;
    font-size: 16px;
    font-weight: bold;
}

.alamat {
    text-align: center;
    text-decoration: underline;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
}
.we {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    color: brown;
}