.sidebar{
            position:fixed;
            width: 250px;
            height: 100%;
            left: 0;
            background-color: rgba(85, 97, 104, 0.21);
        }
        .kanan{
            margin-left: 250px;
            height: 100%;
            background-color: rgb(221, 250, 215);
        }
        .main{
            position: relative;
            top: 64px;
            background-color: rgb(72, 219, 242);
        }
        .profil{
            text-align: center;
            border-bottom:  1px solid white;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 10px;
        }
        .sidebar> .profil .foto img{
            border-radius: 50%;
            border: 1px solid rgb(245, 242, 242);
        }
        .sidebar> .menu{
            padding: 0 5px;
        }
        .sidebar> .menu ul li{
            padding: 10px 20px;
            border-radius: 100px;
        }
        .sidebar> .menu > ul > .menu-item:hover {
            background-color: white;
            cursor: pointer;
        }
        .sidebar> .menu>  ul > .menu-item:hover span,
        .sidebar> .menu>  ul > .menu-item:hover i {
            color: black;
        }
        .menu-item i{
            width: 20px;
        }
        .status-bar{
        text-align: center;
        position: absolute;
        width: 100%;
        bottom: 0;
        border-top: 2px solid white;
        padding: 5px;
        box-sizing: border-box;
        }
