*{
            margin: 0;
            padding: 0;
            color: rgb(233, 240, 239);
            text-decoration: none;
            list-style: none;
        }
        
        body{
            
            background-image: url(BUG.jpg);
            background-size: cover ;
            background-repeat: no-repeat ;
            background-attachment: center ;
            min-height: 100vh;
        }

        