.topbar{
    position: fixed;
    top: 0;
    height: 64px;
    background-color: rgba(85, 97, 104, 0.21);
    width: calc(100% - 250px);
}
.user-menu{
    position: absolute;
    right: 20px;
    height: 60px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 150px;
}
.user-menu>img{
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.user-menu span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
}
.user-menu-box{
    position: absolute;
    top: 60px;
    background-color: rgba(85, 97, 104, 0.21);
    min-width: 150px;
    padding: 5px;
    border-radius: 10px;
    right: -200px;
}
.user-menu-box a{
    display: block;
    padding: 10px 20px;
    border-radius: 10px;
}
.user-menu-box a:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
.user-menu:hover > .user-menu-box{
    right: 0;
}

